body {
  margin: 0;
  padding-bottom: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

a:link{color: #2E2EE6;}
a:visited{color: #4A4AB8;}
a:active{color: #4A4AB8;}
a:hover{color: #4A4AB8;}

img {
  border: 0;
}

#thepage {
  margin-left: auto;
  margin-right: auto;
  width: 840px;
}

#thelogo {
  margin: -32px 0 24px 16px;
  padding: 0;
}

#thelogo a {
  text-decoration: none;
  color: black;
}

#thelogo a:hover {
  text-decoration: underline;
}

#navbar {
  border: 0;
  margin-top: 0px;
  padding-right: 10px;
  text-align: right; 
  text-decoration: none;
  width: 130px;
  float: left;
}

#navbar ul {
  margin: 0 0 1em 0;
  padding: 0;
  position:relative;
  top:-30px;
}

#navbar li {
  text-align: right;
  font-size: .7em;
  line-height: 1.5;
  font-family: sans-serif;
  list-style: none;
}

#navbar li a {
  font-weight: bold;
  text-decoration: none;
  line-height: 0;
}

#navbar li a:hover {
  text-decoration: underline;
}

#content {
  margin-top: 8px;
  padding-left: 8px;
  border-left: 1px solid black;
  font-size: .75em;
  margin-left: 140px;
}

#content p {
  line-height: 1.4;
}

h1, h1 a {
  font-weight: bold;
  margin: 1.3em 0 8px 0;
}

h1 {
  font-size: 1.3em;
}

h2, h2 a {
  font-weight: bold;
  margin: 1.3em 0 8px 0;
}

h2 {
  font-size: 1.2em;
}

h3, h3 a {
  font-weight: bold;
  margin: 1.3em 0 8px 0;
}

h3 {
  font-size: 1.1em;
}

li {
  line-height: 1.4;
}

.caption {
      color: #000000;
      background-color: #CCCCFF;
      margin: 2em;
      margin-left: 0em;
      margin-right: 0em;
      padding: 2em;
      padding-bottom: 1em;
      border-radius: 15px;
}

blockquote.code {
  padding: 0.5em;
  border: 1px dotted black;
  background-color: #eee;
}

tr.underline td {
  border-bottom: 1px solid lightgray;
}

td.emph {
  font-weight: bold;
  padding-right: 0.5em;
}

td.emph span {
  font-weight: normal;
}

span.subtitle {
  font-size: smaller;
  font-style: italic;
}

#copyright {
  margin-top: 30px;
line-height: 1.5em;
text-align: center;
  font-size: .6em;
  color: #888888;
  clear: both;
}

tr.vbottom td { border-bottom: thin solid;}
tr.vbottoml td { border-bottom: thin solid;}
td.vbottom { border-bottom: thin solid; border-right: thin solid;padding-right:0.75em;}
tr.vbottom th { border-bottom: thin solid;}
