<div id="sidebar">
  <div id="site-logo">
    <img src="{{ "/assets/img/opus-logo.svg" | prepend: site.baseurl }}" alt="Opus Logo"/>
  </div>
  <nav>
    <ul id="main-nav">
      <!--<li><a class="active" href="/">Home</a></li>-->
      <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ "/downloads" | prepend: site.baseurl }}">Downloads</a></li>
      <li><a href="{{ "/docs" | prepend: site.baseurl }}">Documentation</a></li>
      <li><a href="{{ "/presentations" | prepend: site.baseurl }}">Presentations</a></li>
      <li><a href="{{ "/development" | prepend: site.baseurl }}">Development</a></li>
      <li><a href="{{ "/comparison" | prepend: site.baseurl }}">Comparison</a></li>
      <li><a href="{{ "/examples" | prepend: site.baseurl }}">Examples</a></li>
      <li><a href="https://wiki.xiph.org/OpusFAQ">Opus FAQ</a></li>
      <li><a href="{{ "/license" | prepend: site.baseurl }}">License</a></li>
      <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
    </ul>
  </nav>
</div>
